{
   project =
   {
      description="🌋 Almagamated library of mulle-core + mulle-concurrent + mulle-c";
      domain="github";
      name="mulle-core";
      user="mulle-core";
      repo="mulle-core";
      homepage="https://github.com/mulle-core/mulle-core";
      license="BSD-3-Clause";
   };
   amalgamated =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="clib";
         name="src/mulle-c11";
         repo="mulle-c11@*";
         url="https://github.com/mulle-c/mulle-c11@*";
         user="mulle-c";
      },
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="clib";
         name="src/mulle-allocator";
         repo="mulle-allocator@*";
         url="https://github.com/mulle-c/mulle-allocator@*";
         user="mulle-c";
      },
      {
         description="↗️ A growable C char array and also a stream";
         domain="clib";
         name="src/mulle-buffer";
         repo="mulle-buffer@*";
         url="https://github.com/mulle-c/mulle-buffer@*";
         user="mulle-c";
      },
      {
         description="🛄 Arrays, hashtables and a queue";
         domain="clib";
         name="src/mulle-container";
         repo="mulle-container@*";
         url="https://github.com/mulle-c/mulle-container@*";
         user="mulle-c";
      },
      {
         description="#️⃣ A collection of hash functions";
         domain="clib";
         name="src/mulle-data";
         repo="mulle-data@*";
         url="https://github.com/mulle-c/mulle-data@*";
         user="mulle-c";
      },
      {
         description="🈚 http URL parser";
         domain="clib";
         name="src/mulle-http";
         repo="mulle-http@*";
         url="https://github.com/mulle-c/mulle-http@*";
         user="mulle-c";
      },
      {
         description="🍫 mulle-rbtree organizes data in a red/black tree";
         domain="clib";
         name="src/mulle-rbtree";
         repo="mulle-rbtree@*";
         url="https://github.com/mulle-c/mulle-rbtree@*";
         user="mulle-c";
      },
      {
         description="🐌 Creates URL slugs";
         domain="clib";
         name="src/mulle-slug";
         repo="mulle-slug@*";
         url="https://github.com/mulle-c/mulle-slug@*";
         user="mulle-c";
      },
      {
         description="🛅 Memory management for tree nodes";
         domain="clib";
         name="src/mulle-storage";
         repo="mulle-storage@*";
         url="https://github.com/mulle-c/mulle-storage@*";
         user="mulle-c";
      },
      {
         description="🈚 Unicode ctype like library";
         domain="clib";
         name="src/mulle-unicode";
         repo="mulle-unicode@*";
         url="https://github.com/mulle-c/mulle-unicode@*";
         user="mulle-c";
      },
      {
         description="🈷️ Support for URL parsing";
         domain="clib";
         name="src/mulle-url";
         repo="mulle-url@*";
         url="https://github.com/mulle-c/mulle-url@*";
         user="mulle-c";
      },
      {
         description="🔤 UTF8-16-32 analysis and manipulation library";
         domain="clib";
         name="src/mulle-utf";
         repo="mulle-utf@*";
         url="https://github.com/mulle-c/mulle-utf@*";
         user="mulle-c";
      },
      {
         description="⏪ Access variable arguments in struct layout fashion in C";
         domain="clib";
         name="src/mulle-vararg";
         repo="mulle-vararg@*";
         url="https://github.com/mulle-c/mulle-vararg@*";
         user="mulle-c";
      },
      {
         description="🔠 Cross-platform thread/mutex/tss/atomic operations in C";
         domain="clib";
         name="src/mulle-thread";
         repo="mulle-thread@*";
         url="https://github.com/mulle-concurrent/mulle-thread@*";
         user="mulle-concurrent";
      },
      {
         description="🔂 mulle-linkedlist a wait and lock-free linked list";
         domain="clib";
         name="src/mulle-linkedlist";
         repo="mulle-linkedlist@*";
         url="https://github.com/mulle-concurrent/mulle-linkedlist@*";
         user="mulle-concurrent";
      },
      {
         description="🚮 A lock-free, cross-platform solution to the ABA problem";
         domain="clib";
         name="src/mulle-aba";
         repo="mulle-aba@*";
         url="https://github.com/mulle-concurrent/mulle-aba@*";
         user="mulle-concurrent";
      },
      {
         description="📶 A lock- and wait-free hashtable (and an array too), written in C";
         domain="clib";
         name="src/mulle-concurrent";
         repo="mulle-concurrent@*";
         url="https://github.com/mulle-concurrent/mulle-concurrent@*";
         user="mulle-concurrent";
      },
      {
         description="🐍 mulle-fifo fixed sized producer/consumer FIFOs holding `void *`";
         domain="clib";
         name="src/mulle-fifo";
         repo="mulle-fifo@*";
         url="https://github.com/mulle-concurrent/mulle-fifo@*";
         user="mulle-concurrent";
      },
      {
         description="🐛 mulle-multififo multi-producer/multi-consumer FIFO holding `void *`";
         domain="clib";
         name="src/mulle-multififo";
         repo="mulle-multififo@*";
         url="https://github.com/mulle-concurrent/mulle-multififo@*";
         user="mulle-concurrent";
      },
      {
         description="🇧🇿 Memory mapped file access";
         domain="clib";
         name="src/mulle-mmap";
         repo="mulle-mmap@*";
         url="https://github.com/mulle-core/mulle-mmap@*";
         user="mulle-core";
      },
      {
         description="👣 Stracktrace support for various OS";
         domain="clib";
         name="src/mulle-stacktrace";
         repo="mulle-stacktrace@*";
         url="https://github.com/mulle-core/mulle-stacktrace@*";
         user="mulle-core";
      },
      {
         description="🕕 Simple time types with arithmetic on timespec and timeval";
         domain="clib";
         name="src/mulle-time";
         repo="mulle-time@*";
         url="https://github.com/mulle-core/mulle-time@*";
         user="mulle-core";
      },
      {
         description="♿️ Shared library helper";
         domain="clib";
         name="src/mulle-dlfcn";
         repo="mulle-dlfcn@*";
         url="https://github.com/mulle-core/mulle-dlfcn@*";
         user="mulle-core";
      },
      {
         description="🔢 An extensible sprintf function supporting stdarg and mulle-vararg";
         domain="clib";
         name="src/mulle-sprintf";
         repo="mulle-sprintf@*";
         url="https://github.com/mulle-core/mulle-sprintf@*";
         user="mulle-core";
      },
      {
         description="🔢 mulle-fprintf marries mulle-sprintf to stdio.h";
         domain="clib";
         name="src/mulle-fprintf";
         repo="mulle-fprintf@*";
         url="https://github.com/mulle-core/mulle-fprintf@*";
         user="mulle-core";
      },
      {
         description="For more information, see [the documentation](http://mintomic.github.io/) or the accompanying blog post, [Introducing Mintomic](http://preshing.com/20130505/introducing-mintomic-a-small-portable-lock-free-api).";
         domain="clib";
         name="mintomic";
         repo="mintomic";
         url="https://github.com/mulle-concurrent/mintomic";
         user="mulle-concurrent";
      },
      {
         description="📣 Unicode regex library";
         domain="clib";
         name="src/mulle-regex";
         repo="mulle-regex@";
         url="https://github.com/mulle-c/mulle-regex@";
         user="mulle-c";
      }
   );
}
